<nav role="navigation" class="topnav">
      <div class="topnav__home">
        <a class="active" href="#home"><img class="logo-banner" src="/css/images/logo_transparent.png"></a>
      </div>
        <a  class="login-signup" href="#news">Sign Up</a>
        <a  class="login-signup" href="#contact">Login</a>
</nav>