<div class="row">
    <div class="col-md-9">
        <h2>{{resolution.title}}</h2>
        <div class="card">
            <div class="card-content">
                <h3>{{formatDate resolution.date 'MMMM Do YYYY'}}</h3>
                <p class="resolution-body">{{resolution.body}}</p>
            </div>
        </div>
    </div>
</div>
