<form method="post" action="/users/login">
        <div class="login-form">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" required>
        </div>
        <div class="login-form">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn login-btn">Log In</button>
      </form>
      <p>Don't have an account? <a href="/users/register">Sign Up</a></p>